<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/mailStyles.css">
</head>
<body>
    <div class="icerik">
        <div class="logo">
            <img style="display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;
                        height: 70px;" src="cid:express" alt="logo">
        </div>
        <div class="baslik">
            <h4>{{Subject}}</h4>
        </div>
        <div style="padding:25px" class="mbody">
            {{{body}}}
        </div>
    </div>

    <table class="footer">
        <tr>
            <td class="side">
                <img src="cid:handle" alt="handlebars" height="140" />
            </td>
            <td style='text-align:center;'>
                <div style="margin:auto; text-align:center;">
                   <p style="color: darkgray;"><strong>Footer Mesajı</strong></p>
                   <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                   <br>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>